.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  /* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .hero { 
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  
  .hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #012970;
  }
  
  .hero h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
  }
  
  .hero .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
  }
  
  .hero .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  .hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .hero .btn-get-started:hover i {
    transform: translateX(5px);
  }
  
  .hero .hero-img {
    text-align: right;
  }
  
  @media (min-width: 1024px) {
    .hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 991px) {
    .hero {
      height: auto;
      padding: 120px 0 60px 0;
    }
  
    .hero .hero-img {
      text-align: center;
      margin-top: 80px;
    }
  
    .hero .hero-img img {
      width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    .hero {
      text-align: center;
    }
  
    .hero h1 {
      font-size: 32px;
    }
  
    .hero h2 {
      font-size: 24px;
    }
  
    .hero .hero-img img {
      width: 100%;
    }
  }

  .features .feature-box {
    padding: 24px 20px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
  }
  
  .features .feature-box h3 {
    font-size: 18px;
    color: #012970;
    font-weight: 700;
    margin: 0;
  }
  
  .features .feature-box i {
    line-height: 0;
    background: #ecf3ff;
    padding: 4px;
    margin-right: 10px;
    font-size: 24px;
    border-radius: 3px;
    transition: 0.3s;
  }
  
  .features .feature-box:hover i {
    background: #4154f1;
    color: #fff;
  }
  
  .features .feture-tabs {
    margin-top: 120px;
  }
  
  .features .feture-tabs h3 {
    color: #012970;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .features .feture-tabs h3 {
      font-size: 28px;
    }
  }
  
  .features .feture-tabs .nav-pills {
    border-bottom: 1px solid #eee;
  }
  
  .features .feture-tabs .nav-link {
    background: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #012970;
    padding: 12px 0;
    margin-right: 25px;
    margin-bottom: -2px;
    border-radius: 0;
  }
  
  .features .feture-tabs .nav-link.active {
    color: #4154f1;
    border-bottom: 3px solid #4154f1;
  }
  
  .features .feture-tabs .tab-content h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    color: #012970;
  }
  
  .features .feture-tabs .tab-content i {
    font-size: 24px;
    line-height: 0;
    margin-right: 8px;
    color: #4154f1;
  }
  
  .features .feature-icons {
    margin-top: 120px;
  }
  
  .features .feature-icons h3 {
    color: #012970;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .features .feature-icons h3 {
      font-size: 28px;
    }
  }
  
  .features .feature-icons .content .icon-box {
    display: flex;
  }
  
  .features .feature-icons .content .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #012970;
  }
  
  .features .feature-icons .content .icon-box i {
    font-size: 44px;
    line-height: 44px;
    color: #0245bc;
    margin-right: 15px;
  }
  
  .features .feature-icons .content .icon-box p {
    font-size: 15px;
    color: #848484;
  }
  /* register */
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  }

label {
  font-size: .7rem;
}

input.form-control, input.form-control:focus {
  background: #F0F0FF;
}

.error {
  position: absolute;
  color: red;
  font-size: .6rem;
}

.contactusbtn {
  border-radius: 50px;
  background: #7986CB;
  margin-left: 130px;
  
}

.contact .info-box {
  color: #444444;
  background: #fafbff;
  padding: 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  background: #fafbff;
  padding: 30px;
  height: 100%;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #28120b;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  /* border-radius: 0; */
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #4154f1;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #4154f1;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #5969f3;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.stftabledata{
  font-size: 20px;

}

.stftable{
  color: #7e8d9f; 
  font-size: 20px;

}

.heart-btn{
  position: absolute;
  transform: translate(-50%, -50%);
}

.heart-content{
  margin-left: 420px;
  border: 2px solid red;
  padding: 3px 12px;
  border-radius: 5px;
  width:180px;
  display: flex;
  cursor: pointer;
}

.heart-content .heart{
margin-left: 10px;
color: gray;
margin-top: 4px;

}

.heart:hover{
  color: red;
  animation: animate .8s steps(28) 1;
}




.like{
  margin-left: 10px;
  font-size: 21px;
  font-family: 'montserrat', sans-serif;
  color: gray;
}

.numb::before{
  content: '12';
  margin-left: 10px;
  font-size: 21px;
  font-weight: 600;
  font-family: sans-serif;
  color: #9C9496;
}

.bg {
  /* The image used */
  /* background-image: url("https://mdbootstrap.com/img/new/avatars/8.jpg"); */



  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.spcard{
  width: 300px;
  height: 400px;
  margin: 10px;
  box-shadow: 5px 5px 30px black;
  overflow: hidden;
}

.spcontainer{
  display: flex;
}

.spintro{
  height: 50px;
  width: 286px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 200px;
  background: rgb(27, 27, 27, .5);
  color: white;
  transform: .5s;
}

.spintro h3{
  margin: 10px;
  font-size: 20px;
}

.spintro p {
  font-size: 20px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
}

.spcard:hover{
  cursor: pointer;
}

.spcard:hover .spintro{
  height: 100px;
  bottom: 180px;
  background: black;
  opacity: 75%;
}

.spcard:hover p{
  opacity: 1;
  visibility: visible;
}

.spcard:hover img{
  transform: scale(1.1) rotate(-3deg);
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');



.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
background: linear-gradient(145deg, #21075a, #1017cd);
box-shadow: inset 20px 20px 60px #0e0e86, 
             inset -20px -20px 60px #250c74;
}

.num{
	
	color:#eee !important;
}

.line{
	color:#fff;
}

.neo-button:active {
   border-radius: 50%;
background: #160ca1;
box-shadow:  28px 28px 57px #250c95, 
             -28px -28px 57px #230da2;
}

.fa-facebook {
    color: #3b5998
}

.fa-whatsapp{
    color: #4eb500
}

.fa-google {
    color: #dc4e41
}

.fa-twitter {
    color: #55acee
}

.profile_button{
	color:#fff;
	padding:10px; 
   border:none;
   outline:0 !important;
border-radius: 50px;
background: #172f8e;
box-shadow:  28px 28px 57px #1c19a1, 
             -28px -28px 57px #3b28ce;
	
}

.profilepage{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(6,6,89,1) 22%, rgba(8,8,106,1) 38%, rgba(9,9,121,1) 52%, rgba(7,60,155,1) 82%, rgba(0,212,255,1) 100%); 
}





 