/* Login page css */
.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
  }

  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }

  /* Add booking css */
  .addBook{
    display: flex;
  }

  /* Sign up css */
  .reg-btn1{
    margin-left: 0px;
    display: flex;
    margin-top: 0px;
  }
  .reg-btn2{
    margin-left: 50px;
    display: flex;
    margin-top: 0px;
  }
  .reg-label{
    font-size: 15px;
  }

.login-link{
  text-decoration: solid;
}
.reg-img{
  justify-content: center;
  margin-top:110px;
}

/* View Booking page css */
.viewBooking{
  margin: 20px;
}

/* Admin Booking css */
.admin-booking-table{
  margin: 0;
}

/*Inquiries page css*/
.inquiriesHeader{
  color: antiquewhite;
}
          
         
.btn-grad {
  background-image: linear-gradient(to right, #003973 0%, #E5E5BE  51%, #003973  100%);
  margin: 10px;
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

